<script>
    import Vue from 'vue';

    export default Vue.component('icon', {

        props: ['name'],

        computed: {
            iconName() {
                return `icon-${this.name}`;
            }
        },

        render(h) {
            return h('i', {
                'class': this.iconName
            })
        }

    });
</script>

<style>
[class^="icon-"] {
    display: inline-block;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    width: 30px;
    height: 30px;
}
[class^="icon-"][hover-effect] {
    transition: transform 100ms ease-out;
}
[class^="icon-"][hover-effect]:hover {
    transform: scale(1.5);
}

.icon-plant {
    background-image: url(../../assets/img/icons/plant.svg);
}
.icon-cactus {
    background-image: url(../../assets/img/icons/cactus.svg);
}
.icon-user {
    background-image: url(../../assets/img/icons/farmer.svg);
}
.icon-settings {
    background-image: url(../../assets/img/icons/trowel.svg);
}
.icon-trowel {
    background-image: url(../../assets/img/icons/trowel-1.svg);
}
.icon-watering {
    background-image: url(../../assets/img/icons/watering-can.svg);
}
.icon-shed {
    background-image: url(../../assets/img/icons/shed.svg);
}
.icon-sprout {
    background-image: url(../../assets/img/icons/sprout.svg);
}
.icon-gnome {
    background-image: url(../../assets/img/icons/gnome.svg);
}
.icon-leaf {
    background-image: url(../../assets/img/icons/leaf.svg);
}
.icon-create {
    background-image: url(../../assets/img/icons/plus.svg);
}
.icon-remove {
    background-image: url(../../assets/img/icons/close-button.svg);
}
.icon-logout {
    background-image: url(../../assets/img/icons/logout.svg);
}
</style>
