<template>
    <div class="input-field" :class="getClassName">
        <label :for="getId">{{ label }} :</label>
        <input
            v-if="isInput"
            :name="name"
            :type="type"
            :id="getId"
            :value="value"
            @input="$emit('input', $event.target.value)"
        />

        <textarea
            v-if="type === 'textarea'"
            :name="name"
            :id="getId"
            @input="$emit('input', $event.target.value)"
        >{{ value }}</textarea>

        <select name="name" :id="getId" v-if="type === 'select'" @change="$emit('input', $event.target.value)">
            <option :value="$index" v-for="(text, $index) in list" :selected="isSelected($index)">
                {{ text }}
            </option>
        </select>
    </div>
</template>

<script>
import { guid } from '../../core/utils';

export default {

    name: 'InputField',

    props: {
        name: {
            type: String,
            default: null
        },
        label: String,
        type: {
            type: String,
            default: 'text'
        },
        value: {
            type: [String, Number],
            default: ''
        },
        list: {
            type: Array,
            default() {
                return [];
            }
        }
    },

    computed: {
        getId() {
            return `${this.name}-${guid()}`;
        },
        getClassName() {
            return `field--${this.name}`;
        },
        isInput() {
            return this.type !== 'textarea' && this.type !== 'select';
        }
    },

    methods: {
        isSelected(index) {
            return parseInt(this.value, 10) == index;
        }
    }

}

</script>

<style>
.input-field {
    width: 400px;
    margin: 10px auto;
    text-align: left;
}
    .input-field label {
        min-width: 150px;
        display: inline-block;
        vertical-align: top;
    }
    .input-field textarea {
        display: block;
        width: 100%;
        height: 200px;
        max-width: 400px;
        margin: 0 auto;
    }

.field--mail,
.field--password {
    font-size: 1.5em;
    margin: 15px auto;
}

.field--mail input,
.field--mail label,
.field--password input,
.field--password label {
    font-size: 1.5em;
    display: block;
    margin: 0 auto;
}



</style>
