<template>
    <div @click="signOut">
        <icon name="logout" id="logout"></icon>
    </div>
</template>

<script>
import auth from 'firebase/auth';

export default {

    name: "Logout",

    methods: {
        signOut() {
            auth().signOut();
        }
    }
}
</script>

<style>
#logout {
    cursor: pointer;
}
</style>
