<template>
    <div class="subscribe-button" :class="{ 'is-checked': subscribe }">
        <h3>S'abonner :</h3>
        <div class="subscribe-wrapper">
            <input type="checkbox" v-model="subscribe" id="subscribe" @change="subscribeTo"/>
            <label for="subscribe" class="input-background"></label>
            <label for="subscribe" class="input-checker"></label>
        </div>
    </div>
</template>

<script>
import SW from '../../core/sw';
import { isSubscribed } from '../../store/api';

export default {

    props: ["id"],

    data() {
        return {
            subscribe: false
        }
    },

    methods: {
        subscribeTo() {
            if(this.subscribe) {
                SW.subscribe()
                    .then((res) => {
                        this.$emit('subscribe', { id: this.id, subscription: res.toJSON() });
                    });

            }
            else {
                SW.unsubscribe()
                    .then((res) => {
                        console.log(res);
                        this.$emit('unsubscribe', this.id);
                    });
            }
        }
    },

    watch: {
        id(newId, oldId) {
            if(!oldId) {
                isSubscribed(newId)
                    .then((res) => {
                        this.subscribe = res;
                    })
            }
        }
    }

}
</script>

<style>
.subscribe-button {
    position: absolute;
    top: 50px;
    right: 10px;
    margin: 10px;
}
.subscribe-wrapper {
    position: relative;
}
    .subscribe-button input {
        display: none;
    }
    .input-background,
    .input-checker {

    }
    .input-background {
        display: block;
        background-color: lightgray;
        width: 65px;
        height: 12px;
        border-radius: 25px;
    }
    .is-checked .input-background {
        background-color: #95c7a5;
    }

    .input-checker {
        display: block;
        position: absolute;
        top: 50%;
        width: 25px;
        height: 25px;
        background: #42b983;
        border-radius: 50%;
        transform: translateY(-50%);

        cursor: pointer;
        transition: transform 300ms ease;
    }
    .is-checked .input-checker {
        transform: translateX(45px) translateY(-50%);
    }
</style>
