<template>
    <div class="input-upload">
        <div class="upload-preview-wrapper">
            <img :src="value" alt="preview" v-show="hasFile" class="upload-preview"/>
        </div>
        <input
            type="file"
            :name="name"
            :id="getId"
            @change="handleFileUpload"
        />
        <label :for="getId">{{ label }}</label>
    </div>
</template>

<script>
import storage  from 'firebase/storage';
import { guid } from '../../core/utils';

export default {

    name: 'upload',

    props: {
        name: String,
        label: String,
        value: String
    },

    computed: {
        hasFile() {
            return !!this.value;
        },
        getId() {
            return `${this.name}-${guid()}`;
        },
        getClassName() {
            return `field--${this.name}`;
        }
    },

    methods: {
        handleFileUpload(event) {
            const file       = event.target.files[0];
            const ref        = storage().ref().child(`images/${file.name}`);
            const metadata   = {
                contentType: file.type
            };

            ref.put(file, metadata).then((snapshot) => {
                this.$emit('uploaded', snapshot.downloadURL);
            });
        }
    }

}
</script>

<style>
.input-upload {

}
    .upload-preview-wrapper {
        text-align: center;
    }
        .upload-preview {
            display: block;
            max-width: 70vw;
            height: 40vh;
            margin: 1em auto;
        }
</style>
