<template>
    <form @submit.prevent="submit" @keyup.enter.prevent="$emit('submit')" class="view--auth">
        <div class="error-message" v-show="error" @click="closeError">{{ error }}</div>

        <input-field name="mail" type="email" label="Mail :" v-model="mail"></input-field>
        <input-field name="password" type="password" label="Mot de passe" v-model="password"></input-field>

        <button type="submit" class="signup-button" v-once>{{ buttonText }}</button>
    </form>
</template>

<script>
import InputField from '../core/inputField.vue';
import router     from '../../routes';
import auth       from 'firebase/auth';
import database   from 'firebase/database';

export default {
    components: {
        InputField
    },

    data() {
        return {
            error:    false,
            password: '',
            mail:     ''
        }
    },

    computed: {
        type() {
            return ~this.$route.path.indexOf("signup") ? "signup" : "login";
        },
        buttonText() {
            return this.type == "signup" ? "S'inscrire" : "Se connecter";
        }
    },

    methods: {
        submit() {
            if(!this.mail || !this.password) return;

            const action = this.type == "signup" ? "createUserWithEmailAndPassword" : "signInWithEmailAndPassword";

            auth()[action](this.mail, this.password)
                .then((user) => {
                    if(user) {
                        if(this.type == "signup") {
                            this.setUserInDb()
                                .then(() => {
                                    router.push({ path: '/' });
                                });
                        }
                        else {
                            router.push({ path: '/' });
                        }
                    }
                })
                .catch((error) => {
                    this.error = error.message;
                });
        },

        setUserInDb() {
            return new Promise((resolve, reject) => {
                const id   = database().ref('users').push().key;
                const user = auth().currentUser;

                database()
                    .ref(`users/${id}`)
                    .set({
                        uid:   user.uid,
                        email: user.email
                    })
                    .then(resolve);
            });
        },

        closeError() {
            this.error = false;
        }
    }
}
</script>

<style>
.error-message {
    display: inline-block;
    margin-top: 15px;
    border: 1px solid indianred;
    border-radius: 5px;
    color: #fdf8eb;
    background: #cda190;
    padding: 10px;
}

.signup-button {
    background: #42b983;
    color: #fdf8eb;
    border: 1px solid #73653d;
    font-size: 1em;
    padding: 10px 5px;
    cursor: pointer;
    font-family: Source Sans Pro, Helvetica, sans-serif;
}
</style>
