<template>
    <section class="plant plant--edit view--plant-edit">
        <transition name="check">
            <div class="spinner spinner--saving" v-show="saving">
                <div class="bounce1"></div>
                <div class="bounce2"></div>
                <div class="bounce3"></div>
            </div>
        </transition>

        <form @submit.prevent="submit" @keyup.enter.prevent="submit">
            <input-field name="determinant" label="Determinant" v-model="plant.determinant"></input-field>
            <input-field name="nom" label="Nom" v-model="plant.name"></input-field>

            <upload name="image" :value="plant.image" @uploaded="uploaded"></upload>

            <input-field name="description" type="textarea" label="Description" v-model="plant.description"></input-field>

            <!-- Arrosage -->
            <input-field name="arrosage" type="select" label="Arrosage" v-model="plant.arrosage" :list="frequences"></input-field>

            <input-field label="Détails de l'arrosage" v-model="plant.arrosage_informations"></input-field>
            <input-field label="Famille" v-model="plant.famille"></input-field>
            <input-field label="Hauteur" v-model="plant.hauteur"></input-field>
            <input-field label="Exposition" v-model="plant.exposition"></input-field>
            <input-field label="Sol" v-model="plant.sol"></input-field>
            <input-field label="Feuillage" v-model="plant.feuillage"></input-field>
            <input-field type="url" label="URL scrappé" v-model="plant.scrap_url"></input-field>

        </form>
    </section>
</template>

<script>
import PlantStore from '../../store/plantStore';
import InputField from '../core/inputField.vue';
import Upload     from '../core/upload.vue';

import { mapGetters } from 'vuex'

export default {

    name: 'EditPlantView',

    components: {
        InputField,
        Upload
    },

    store: PlantStore,

    data() {
        return {
            saving: false,
            frequences: [
                '1 fois par jour',
                '1 fois tous les deux jours',
                '1 fois tous les trois jours',
                '1 fois par semaine',
                '1 fois toutes les deux semaines',
                '1 fois par mois'
            ]
        }
    },

    computed: {
        ...mapGetters([
            'plant'
        ])
    },

    methods: {
        uploaded(image) {
            PlantStore.dispatch('updatePlant', { id: this.plant.id, image });
        },
        submit() {
            console.log(this.plant);
            PlantStore.dispatch('updatePlant', this.plant);

            this.saving = true;

            setTimeout(() => {
                this.saving = false;
            }, 750);
        }
    },

    beforeMount() {
        PlantStore.dispatch('getOne', this.$route.params.id);
    }
}
</script>

<style>
.view--plant-edit {
    margin-bottom: 80px;
}
.spinner {
    position: fixed;
    top: 10vh;
    right: 0;
    width: 40px;
    height: 40px;
    border-radius: 7px 0 0 7px;
    border: 1px solid #42b983;
    color: #2c3e50;
    background: #75b996;
}
.spinner--saving {

}

.spinner--saving.check-leave {
    display: inline-block;
    width: 30px;
    height: 30px;
    opacity: .5;

    transition: 3000ms opacity linear;
}
.spinner--saving.check-leave-active {
    opacity: 1;
}
.spinner--saving.check-leave:before {
    content: "";
    position: absolute;
    width:4px;
    height:0;
    background-color:#fdf8eb;
    left:16px;
    top:5px;

    transform: rotate(45deg);
    transition: height 300ms ease-out;
}
.spinner--saving.check-leave:before {
    content: "";
    position: absolute;
    width:4px;
    height:16px;
    background-color:#fdf8eb;
    left:16px;
    top:5px;

    transform: rotate(45deg);
}
.spinner--saving.check-leave:after {
    content: "";
    position: absolute;
    width: 0;
    height: 4px;
    background-color: #fdf8eb;
    left: 7px;
    top: 13px;

    transform: rotate(45deg);
    transition: width 300ms ease-out;
}
.spinner--saving.check-leave-active:after {
    content: "";
    position: absolute;
    width: 8px;
    height: 4px;
    background-color: #fdf8eb;
    left: 7px;
    top: 13px;

    transform: rotate(45deg);
}

.spinner > div {
    width: 5px;
    height: 5px;
    background-color: #fdf8eb;
    transform: translateY(7px);

    border-radius: 100%;
    display: inline-block;
    animation: sk-bouncedelay 1.4s infinite ease-in-out both;
}

.spinner.check-leave > div,
.spinner.check-leave-active > div {
    display: none;
}

.spinner .bounce1 {
    -webkit-animation-delay: -0.32s;
    animation-delay: -0.32s;
}

.spinner .bounce2 {
    -webkit-animation-delay: -0.16s;
    animation-delay: -0.16s;
}

@keyframes sk-bouncedelay {
    0%, 80%, 100% { transform: scale(0) translateY(7px); }
    40% { transform: scale(1.0) translateY(7px); }
}
</style>
