<template>
    <section class="view--home">
        <h2>Mon jardin :</h2>

        <PlantList list="garden"></PlantList>

        <router-link to="/plants" class="plant-a-plant">
            <icon name="trowel"></icon>
            <span>Planter une plante</span>
        </router-link>
    </section>
</template>

<script>
import PlantList from '../plant/plantList.vue';

export default{
    components: {
        PlantList
    }
}
</script>

<style>
.plant-a-plant {
    display: inline-block;
    background-color: darkgreen;
    font-size: 1.75em;
    padding: .75em 1.5em;
    margin-top: 1.5em;
}
    .plant-a-plant > i,
    .plant-a-plant > span {
        display: inline-block;
        vertical-align: middle;
    }
    .plant-a-plant > span {
        color: #fdf8eb;
        line-height: 1;
    }
</style>
