<template>
    <section class="view--garden">
        <PlantList @show="handleShowModal"></PlantList>

        <AddPlant v-if="isEditor"></AddPlant>

        <modal v-if="showModal" @close="showModal = false">
            <h3 slot="header">Done</h3>
            <div slot="body">
                <icon name="leaf"></icon>
                <p>{{name}} à bien été planté{{ conjugaison }} dans le jardin ;)</p>
            </div>
        </modal>
    </section>
</template>

<script>
import Modal     from '../core/modal.vue';
import AddPlant  from '../plant/addPlant.vue';
import PlantList from '../plant/plantList.vue';

export default
{
    components: {
        Modal,
        AddPlant,
        PlantList
    },

    data() {
        return {
            showModal: false,
            name: null
        }
    },

    computed: {
        isEditor() {
            return ~this.$route.path.indexOf('edit');
        },
        conjugaison() {
            if(this.name.startsWith('Le') || this.name.startsWith('L\'')) return '';
            else if(this.name.startsWith('La')) return 'e';
        }
    },

    methods: {
        handleShowModal(data) {
            this.name = data.name;
            this.showModal = true;
        }
    }

}
</script>
