<template>
    <article class="plant">
        <Subscribe
            :id="plant.id"
            subscribed="false"
            @subscribe="subscribe"
            @unsubscribe="unsubscribe"
        />
        <h1 class="plant-name">{{ plant.name }}</h1>

        <div class="plant-image" :style="backgroundImage"></div>

        <section class="plant-details">
            <div class="plant-detail" v-if="plant.description">
                <h3>Détails :</h3>
                <p class="plant-description">{{ plant.description }}</p>
            </div>

            <div class="plant-detail" v-if="plant.arrosage">
                <h3>Arrosage :</h3>
                <p class="plant-arrosage">{{ FREQUENCES[plant.arrosage] }}</p>
                <p class="plant-arrosage-details" v-if="plant.arrosage_informations">{{ plant.arrosage_informations }}</p>
            </div>

            <div class="plant-detail" v-if="plant.famille">
                <h3>Famille :</h3>
                <p class="plant-famille">{{ plant.famille }}</p>
            </div>

            <div class="plant-detail" v-if="plant.hauteur">
                <h3>Hauteur :</h3>
                <p class="plant-hauteur">{{ plant.hauteur }}</p>
            </div>

            <div class="plant-detail" v-if="plant.exposition">
                <h3>Exposition :</h3>
                <p class="plant-exposition">{{ plant.exposition }}</p>
            </div>

            <div class="plant-detail" v-if="plant.sol">
                <h3>Sol :</h3>
                <p class="plant-sol">{{ plant.sol }}</p>
            </div>

            <div class="plant-detail" v-if="plant.feuillage">
                <h3>Feuillage :</h3>
                <p class="plant-feuillage">{{ plant.feuillage }}</p>
            </div>


        </section>

    </article>
</template>

<script>
import Subscribe  from '../core/subscribe.vue';
import PlantStore from '../../store/plantStore';
import { mapGetters, mapActions } from 'vuex'

const FREQUENCES = [
    '1 fois par jour',
    '1 fois tous les deux jours',
    '1 fois tous les trois jours',
    '1 fois par semaine',
    '1 fois toutes les deux semaines',
    '1 fois par mois'
];

export default {

    name: "plant-view",

    store: PlantStore,

    components: {
        Subscribe
    },

    data() {
        return {
            FREQUENCES
        }
    },

    computed: {
        ...mapGetters([
            'plant'
        ]),
        backgroundImage() {
            return {
                "background-image": `url(${this.plant.image || 'http://loremflickr.com/600/300/garden,plant'})`
            };
        }
    },

    methods: {
        ...mapActions([
            'subscribe',
            'unsubscribe'
        ])
    },

    beforeMount() {
        PlantStore.dispatch('getOne', this.$route.params.id);
    }
}
</script>

<style scoped>
.plant-image {
    width: 45vw;
    height: 0;
    padding-bottom: 45%;
    margin: 0 auto;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 125%;
}
    .plant-details {
        width: 80vw;
        margin: 0 auto;
        text-align: left;
    }
        .plant-details h3 {
            margin-top: 20px;
            margin-bottom: 0;
        }
        .plant-details h3 + p {
            margin-top: 0;
        }
</style>
