<template>
    <section class="view--users">

    </section>
</template>

<script>
     export default{
        data(){
            return{
                msg:'hello vue'
            }
        }
    }
</script>
