<template>
    <div class="plant-add" @click="createPlant">
        <icon name="create"></icon>
        <span>Ajouter une plante</span>
    </button>
</template>

<script>
import { mapActions } from 'vuex';

export default{
    methods: {
        ...mapActions([
            'createPlant'
        ])
    }
}
</script>

<style>
.plant-add {
    display: inline-block;
    margin: 15px 0;
    padding: 15px;

    border-radius: 10px;
    background: #75b996;
    cursor: pointer;

    color: #fff;
    font-size: 1.25em;
    line-height: .75;
}
    .plant-add > span,
    .plant-add > i {
        vertical-align: middle;
    }
    .plant-add > i {
        width: 20px;
        height: 20px;
        margin-right: 10px;
    }
    .plant-add > span {
        display: inline-block;
    }
</style>
