<template>
    <transition name="slide-fade">
        <li class="plant-item">
            <router-link :to="'/plant/' + (admin ? 'edit/' : '') + item.id" :title="item.name"></router-link>
            <div class="plant-image" :style="backgroundImage"></div>

            <h2 class="plant-name">{{ item.name }}</h2>

            <div class="plant-remove" @click="removePlant(item.id)" v-if="isEditor">
                <icon name="remove"></icon>
            </div>
            <div class="plant-add-to-garden" @click="addToGarden(item)" v-if="!isEditor && listType != 'garden'">
                <icon name="create"></icon>
            </div>
            <div class="plant-remove-from-garden" @click.prevent="removeFromGarden(item)" v-if="!isEditor && listType == 'garden'">
                <icon name="remove"></icon>
            </div>
        </li>
    </transition>
</template>

<script>
import auth       from 'firebase/auth';
import PlantStore from '../../store/plantStore';
import { mapActions } from 'vuex';

export default {

    name: "plant-item",

    props: ["item", "admin", "listType"],

    computed: {
        date() {
            let date = new Date(this.item.created_at);

            return `${date.getDate()}/${(date.getMonth() + 1)}/${date.getFullYear()}`;
        },
        backgroundImage() {
            return {
                "background-image": `url(${this.item.image || 'http://loremflickr.com/600/300/garden,plant'})`
            };
        },
        isEditor() {
            return ~this.$route.path.indexOf('edit');
        }
    },

    methods: {
        ...mapActions([
            'removePlant',
            'removeFromGarden'
        ]),
        addToGarden(item) {
            PlantStore.dispatch('addToGarden', item);
            this.$emit('added', (item.determinant ? (item.determinant.charAt(0).toUpperCase() + item.determinant.slice(1)) : 'La') + ' ' + item.name);
        }
    }
}
</script>

<style scoped>
.plant-item {
    position: relative;
    display: flex;
    flex-direction: row;
    margin: 20px auto;
    max-width: 600px;
    overflow: hidden;

    background: rgba(100, 83, 50, 0.21);
    text-align: left;
}
    .plant-name {
        width: 285px;
        flex: auto 285px;
        font-size: 2em;
        line-height: 1.5;
        margin-left: 30px;
    }
    .plant-name:empty {
        width: 50px;
    }
    .plant-image {
        width: 200px;
        height: 100px;
        background-repeat: no-repeat;
        background-position: center;
        background-size: 125%;
        clip-path: polygon(0 0, 100% 0%, 75% 100%, 0% 100%);
    }
    .plant-image:after {
        content: "";
        margin-left: 170px;
        display: inline-block;
        vertical-align: top;
        width: 4px;
        height: 125%;
        background: #73653d;

        transform: rotate(22deg) translate(5px, -20px);
    }
    .plant-item a {
        position: absolute;
        top: 0;
        left:0;
        width: 100%;
        height: 100%;
        z-index: 5;
    }

    .plant-remove,
    .plant-add-to-garden,
    .plant-remove-from-garden {
        flex: 1;
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        top: 0;
        width: 50px;
        cursor: pointer;
        z-index: 10;
    }
    .plant-remove,
    .plant-remove-from-garden {
        color: #cd5c5c;
        background-color: #cd8b7e;
    }
    .plant-add-to-garden {
        background-color: #75b996;
    }
    .plant-add-to-garden .icon-create {
        transition: transform 150ms ease-in;
    }
    .plant-add-to-garden .icon-create:hover {
        transform: scale(1.25);
    }

.slide-fade-enter-active {
    transition: all .3s ease;
}
.slide-fade-leave-active {
    transition: all .8s cubic-bezier(1.0, 0.5, 0.8, 1.0);
}
.slide-fade-enter, .slide-fade-leave-active {
    padding-left: 10px;
    opacity: 0;
}
</style>
