<template>
    <ul class="plant-list">
        <PlantItem
            v-for="(item, index) in plants"
            key="item.id"
            :item="item"
            :admin="isAdmin"
            :list-type="list"
            @added="addedModal"
        />
    </ul>
</template>

<script>
import PlantStore from '../../store/plantStore'
import PlantItem  from './plantItem.vue'
import auth       from 'firebase/auth';

import { mapGetters } from 'vuex'

export default {

    name: "PlantList",

    store: PlantStore,

    props: {
        list: {
            type: String,
            default: "plants"
        }
    },

    components: {
        PlantItem
    },

    computed: {
        ...mapGetters([
            'plants'
        ]),
        isAdmin() {
            return this.$route.meta.requiresAuth;
        }
    },

    created() {
        PlantStore.dispatch('setType', this.list);
        PlantStore.dispatch('getAll');
    },

    methods: {
        addedModal(name) {
            this.$emit('show', { from: "add", name });
        }
    }
}
</script>

<style scoped>
.plant-list {
    width: 100%;
    min-height: 150px;
    list-style: none;
    margin: 0;
    padding: 0;
}
</style>
