<template>
    <footer v-if="isAdmin" class="footer-admin">
        <router-link to="/plants-edit"><icon name="cactus" hover-effect></icon></router-link>
        <router-link to="/users"><icon name="user" hover-effect></icon></router-link>
        <router-link to="/settings"><icon name="settings" hover-effect></icon></router-link>
        <Logout/>
    </footer>
</template>

<script>
import auth   from 'firebase/auth';
import Logout from './core/logout.vue';

export default{

    data(){
        return {
            isAdmin: auth().currentUser
        }
    },

    mounted() {
        auth().onAuthStateChanged((user) => {
            this.isAdmin = user;
        });
    },

    components:{
        Logout
    }
}
</script>

<style>
.footer-admin {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #fdf8eb;
    min-height: 50px;

    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}
</style>
