<template>
    <header class="plant-header">
        <icon name="leaf"></icon>
        <h1 id="app-name">
            <router-link to="/">Garden</router-link>
        </h1>
    </header>
</template>

<script>
import auth from 'firebase/auth';
import database from 'firebase/database';

export default {

    name: "appHeader"

}
</script>

<style>
    .plant-header {
        background-color: #70BF5A;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
    }
    #icon, #app-name {
        margin: 5px 0;
    }
        .plant-header #app-name a {
            color: #fdf8eb;
        }
        .plant-header .icon-leaf {
            width: 50px;
            height: 50px;
            align-self: flex-start;
            background-size: 75%;
        }
        #app-name {
            flex: 1 0 auto;
            color: #73653D;
        }
</style>
