<template>
  <div id="app">
      <app-header></app-header>
      <router-view class="view"></router-view>
      <app-footer></app-footer>
  </div>
</template>

<script>
import AppHeader from './components/appHeader.vue';
import AppFooter from './components/appFooter.vue';
import Icon      from './components/core/icon.vue';

export default {
    components: {
        AppHeader,
        AppFooter
    }
}
</script>

<style>
*, *:before, *:after {
    box-sizing: border-box;
}

html, body {
    margin: 0;
    padding: 0;
}

body {
    height: 100vh;
    width: 100vw;
    overflow-x: hidden;
}

#app {
    width: 100%;
  color: #2c3e50;
  font-family: Source Sans Pro, Helvetica, sans-serif;
  text-align: center;
}

#app a {
  color: #42b983;
  text-decoration: none;
}
</style>
